streamlit
requests
numpy
openai
supabase
streamlit-echarts
scikit-learn
plotly
pandas
networkx
streamlit-antd-components
streamlit-autorefresh
sentence-transformers
# === 新增：Google Vertex AI 驱动 ===
google-cloud-aiplatform
google-auth
pydeck
# === 新增 ===
feedparser
geopy
